
/*---------- Main ---------*/

body{
    height: 100vh;
}

nav{
    background-color: #ff2f20;
    color: #000000;
    position: fixed;
    z-index: 2;
}

input[type=range]+.thumb, input {
    background-color: #ff2f20;
    border-bottom-color: #ff2f20;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #ff2f20;
}
input[type=range]::-moz-range-thumb {
    background-color: #ff2f20;
}
input[type=range]::-ms-thumb {
    background-color: #ff2f20;
}

#sidenav-overlay {
    z-index: 0!important;
}
nav h1 {
    margin-top: 10px;
    margin-bottom: auto;
    padding: 0;
}

.margin_top {
    margin-top: 65px;
}

.container_custom {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row_custom {
    margin-left: 0!important;
    margin-right: 0!important;
}

.btn_custom, .btn_custom:hover {
    background-color: #ff2f20;
    color: white;
}

#formCooker, #formMeal {
    display: none;
}

/*--------- Index --------*/
#index {
    height: calc(100% - 56px);
}

#index .container_custom {
    background-color: rgba(245,245,245,0.3);
}
#rowIndex {
    margin-top: 90%;
}

.home_card {
    text-align: center!important;
    height: 100px;
    margin: 5px 0;
    padding-top: 42px!important;
    color: #000;
}

.home_card:nth-child(1) {
    background-color: #ff2f20;
}

.home_card:nth-child(2) {
    background-color: #ffd745;
}

/*--------- Home Client ---------*/

.card_custom .card-content {
    padding: 0;
}

/*-------- checkout client ---------*/

.checkout {
    display: block;
    position: relative;
}

.cross {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: black;
}

    .cross a{
        text-align: right;
    }

/*-------- Admin Cook --------*/

.img_card {
    width: 100%;
}

/*-------- Admin Home --------*/
.checkout_admin {
    padding-bottom: 5px;
    border-bottom: 2px solid #ff2f20;
}

/*-------- Cook Available --------*/
.available {
    padding-bottom: 5px;
    border-bottom: 1px solid #ff2f20;
}

.show_meal {
    display: none;
    padding-bottom: 10px;
}

.show_meal:nth-child(1) {
    padding-top: 5px;
}

.show_meals {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}