{% extends 'base.html.twig' %}

{% block header %}
    <nav>
        <div class="nav-wrapper">
            <h1 class="brand-logo center">HOMIE</h1>
        </div>
    </nav>
{% endblock %}

{% block main %}
<main id="index" style="background: url('{{ asset('bundles/homie/pics/Homie.jpg') }}') center; background-size: cover">
    <div class="container container_custom">
        <div class="row row_custom">
            <div class="col s10 offset-s1">

                <div class="row row_custom" id="rowIndex">
                    <div class="col s12 center-align">
                        <p>Who are you? A Hungry Customer or a Cook?</p>
                        <a class="signup_btn" href="{{ path('homie_client_signup') }}">Sign up !</a>
                    </div>
                </div>

                <div class="row row_custom">
                    <a href="{{ path('homie_client_home') }}" class="col s10 offset-s1 center-align home_card">
                        HUNGRY CUSTOMER
                    </a>

                    <a href="{{ path('homie_cook_home') }}" class="col s10 offset-s1 center-align home_card">
                        COOK
                    </a>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}