{% extends 'base.html.twig' %}

{% block header %}
    <nav>
        <div class="nav-wrapper">
            <h1 class="brand-logo center">HOMIE</h1>
        </div>
    </nav>
{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="row">
                    <div class="col s12 center-align">
                        <p >Who are you? A Cook or Client?</p>
                    </div>
                </div>

                <div class="row">
                    <a href="#" class="col s5 valign-wrapper home_card">
                        <h2 class="center-align">COOK</h2>
                    </a>

                    <a href="#" class="col s5 valign-wrapper offset-s2 home_card">
                        <h2 class="center-align">CLIENT</h2>
                    </a>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}